/******************* Parti Amelie *******************/

body {
	margin: auto;
	overflow: hidden;
	background-color: rgb(255, 154, 215);
}

/* Entête */

#entete{
	color: black;
	font-family: Courier New, Courier, monospace;
	font-size: 55px;
	text-align:center;
	text-transform: uppercase;
	transition: margin-left 0.5s;
	float: center;

}

/* Menu de gauche */

.mg_contenu {
	margin-top: 100px;
}

.menuGauche{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(234, 68, 180);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.menuGauche a{
	padding: 8px 8px 8px 25px;
	text-decoration: none;
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;\
	color: White;
	display: block;
	letter-spacing: 2px;
	margin: 10px;
	transition: 0.3s;
}


.menuGauche button{
	font-size: 25px;
	font-family: Verdana, Geneva, sans-serif;
	color: purple;
	display: block;
	letter-spacing: 2px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.menuGauche .fermer{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 95px;
	margin-left: 50px;
}

/* Effet de survol du menu de gauche */

.mg_contenu a:after{
	z-index: -1;
	position: absolute;
	left: 0%;
	width: 0;
	height: 50px;
	background: white;
	content: '';
	transition: width 0.35s ease-in-out;
}

.mg_contenu a:hover:after{
	width: 10%;
}

.mg_contenu a:hover{
	padding-left: 55px;
	transition: 0.30s ease-in-out;
}

/* Contenu de la page */

#page_contenu {
	transition: margin-left 0.5s;
	
}

/******************* Partie Sarah *******************/

#boiteReception {
	
	background-color: rgb(240, 240, 240, 0.4);
	width:90%;
	height: 600px;
	margin-right:auto;
	margin-left:200px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	font-size: 25px;
	float:center;
	
	
	
}
#boiteReception #Nom   {
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
	
	
}

#boiteReception #Sujet   {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	
}

#boiteReception #paragraphe   {
	font-family: Courier New, Courier, monospace;
	font-size: 25px;
	text-align: justify;
	
}

#boiteReception #signature   {
	font-family: Courier New, Courier, monospace;
	font-size: 25px;
	
}

#boiteReception h1   {
	color: white;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	text-align:center;
	text-transform: uppercase;
	border-width: 1px 0px 1px 0px;
	border-color:black;
	border-style: solid;
}

#boiteReception li {
	color:rgb(255, 255, 255, 0);
	font-size: 18px;
}


#boiteReception .nouveauxMessages{
	width:50%;
	float:left;
	
	
}
#boiteReception .afficherEmails {
	width:40%;
	float:left;
	margin-right: 10%;
	
	
	
	
}

/******************* Partie Fatou *******************/

#nouveauxMessages {
	visibility: hidden;
}
#nouveauxMessages .sec-droite{
	border:1px solid #838b8b;
	height:400px;
	width:75px;
	bottom:405px;
	left:750px;
	float:right;
	}
#nouveauxMessages .sec-gauche{
		
	}
#nouveauxMessages	.button {
	   padding-top: 10px;
	   padding-left: 10px;
	   max-width: 970px;
	   height: 30px;
	   margin-right = 10px;
	}

#nouveauxMessages	.Envoyer{
	   float:right;
	}
#nouveauxMessages	.reset {
	   float: left;
	   }
#nouveauxMessages form#Champ label {
		   display:inline-block;
		   width:50px;
		   }
#nouveauxMessages	form#Champ input {
			display:inline-block;
	}
#nouveauxMessages	form#Champ button[type=submit] {
			color:#fff; background-color:steelblue;
	}
#nouveauxMessages	form#Champ button[type=delete] {
			color:#fff; background-color:darkred;
	}

/******************* Partie Valérie *******************/

#messagesEnvoyes {
	visibility: hidden;
	background-color: rgb(240, 240, 240, 0.4);
	width:80%;
	margin-left:200px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	font-size: 25px;
	float:center;
}

#messagesEnvoyes h3 {
	color: white;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	text-align:center;
	text-transform: uppercase;
	border-width: 1px 0px 1px 0px;
	border-color:black;
	border-style: solid;
}

#messagesEnvoyes #MEbox {
	font-family: Courier New, Courier, monospace;
	font-size: 25px;
	width: 100%;
	height:500px;
	text-align:center;
	
	
}

/******************* Page contacts *******************/
#contacts {
	visibility: hidden;
	background-color: rgb(240, 240, 240, 0.4);
	width:80%;
	height: auto;
	margin-right:auto;
	margin-left:200px;
	border-width:2px;
	border-color:black;
	border-style: solid;
	font-size: 25px;
	float:center;
}

#contacts h1 {
	color: white;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.8);
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	text-align:center;
	text-transform: uppercase;
	border-width: 1px 0px 1px 0px;
	border-color:black;
	border-style: solid;

	
}

/*Disposition des fiches de contact*/
/* Trois colonnes côte-à-côte */
#contacts .col {
  float: left;
  width: 30%;
  height: 15%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Afficher les colonnes les unes en-dessous des autres lorsque la fenêtre est rapetissée */
@media screen and (max-width: 650px) {
 #contacts .col {
    width: 100%;
    display: block;
  }
}

#contacts .ficheContact {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); background-color: #FFF;
}

#contacts .contenuFiche {
  padding: 0 16px;
}

/* Empêche éléments flottants de s'immiscer de chaque côté de la fiche */
#contacts .contenuFiche::after, .li::after {
  content: "";
  clear: both;
  display: table;
}

#contacts .relation {
  color: grey;
}

#contacts .btnContact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#contacts .btnContact:hover {
  background-color: #555;
}

#contacts #ajoutContact {
  background: #92c7eb;
  background-image: url("https://pngimage.net/wp-content/uploads/2018/05/bouton-ajouter-png-5.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 70px;
  border-radius: 900px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
}

#contacts #ajoutContact:hover
{
  width: 75px;
  height: 75px;
}

#contacts #submit {
  background-color: #bbb;
  padding: .5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

#contacts #submit:hover {
  border: none;
  background: pink;
  box-shadow: 0px 0px 1px #777;
}

/*Création d'un contact*/
/* La fenêtre (arrière-plan) */
#contacts .fenetre {
  display: none; /* Caché par défaut */
  position: fixed;
  z-index: 1; /* Demeure au-dessus */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Affichage des informations à saisir */
#contacts .infoContact {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Ajout de l'animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Le bouton Fermer */
#contacts .fermer {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#contacts .fermer:hover,
#contacts .fermer:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#contacts .fenetreTête {
  padding: 2px 16px;
  background-color: #FE7F9C;
  color: white;
}

#contacts .fenetreCorps {padding: 2px 16px;}
